/* Initial Stuff */
body{
    background-color: black;
}
  
.content{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 500;
    margin: 25px;
}

.infoWindow{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
}
  
.screen{
    display: none;
}
/* Header */
.topHeader{
    background-color: #03254C;
    font-family: 'Kiwi Maru', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #1167B1;
}
/* Navagation Bar */
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03254C;
    color: white;
    font-size: 24px;
}
  
.topnav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    float: left;
}
  
.topnav a:hover{
    background-color: #1167B1;
}
/* Weather Display */
.card {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    background-color: #1167B1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
    
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Photos */
* {
    box-sizing: border-box;
}
    
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Camera */
.controls{
    font-size: 16px;
    text-align: center;
    padding: 0.5em 0;
}
  
video{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
/* Button */
:root {
    --mdc-theme-primary: #1167B1;
}

/* Location and Map */
#map {
    height: 500px;
}
.results{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
